@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito;
}


body {
    width: 100%;
    height: auto;
    /* background-color: aliceblue; */
}

::-webkit-scrollbar {
    display: none;
}

h6 {
    color: #d8d8d8;
}

hr {
    width: 30px;
    margin: 3px auto;
    color: rgb(255, 106, 0);
}

/* p{
    color: #505050;
} */

/* HomePage starts */
#header {
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    padding: 15px 80px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    z-index: 999;

}


#header .logo {
    color: rgb(0, 214, 199);
    font-family: cursive;
    display: flex;
    gap: 3px;
    align-items: center;
}


#header .navbar-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    /* margin:auto; */
}

#header .nav-item .nav-link {
    text-decoration: none;
    font-weight: 600;
    font-size: medium;
    padding: 0 20px;
    color: black;
    list-style: none;
    width: cover;
}

#header .nav-item .nav-link:hover {
    color: rgb(0, 214, 199);
}

#header .nav-item .nav-link #search-bar {
    font-size: 18px;
}

#header .collapse-btn {
    display: none;
    border-radius: 5px;
    border: none;
    background-color: inherit;
}

#bars {
    font-size: 20px;
    padding: 5px 7px;
}

#bars:hover {
    color: rgb(0, 214, 199);
}

#cross {
    display: none;
}

#search-bar{
    transition: 2s ease;
}

#search-bar:hover{
    transform: rotate(360deg);
}

/* banner section */
#banner-section {
    background-image: url("images/banner/banner1.jpeg");
    background-size: cover;
    background-position: top 0px left 0px;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    /* gap: 20px; */
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    border-radius: 15px;
    height: 100vh;
    padding-left: 25px;
}

#banner-section .banner-caption {
    margin-top: 8%;
    /* width: 35%; */
    padding: 15px;
    font-size: larger;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
}

#banner-section h1 span {
    font-weight: bolder;
    color: rgb(92, 0, 0);
    text-align: justify;
}

#banner-section p {
    font-size: medium;
    text-align: justify;
}


#banner-section button {
    /* width: 100px; */
    /* border-radius: 5px; */
    cursor: pointer;
    background: none;
    border: none;
    color: rgb(92, 0, 0);
    font-weight: 700;
    font-size: 23px;
    border-bottom: 1px solid rgb(92, 0, 0);
    padding: 4px;

    /* background-color: rgb(92, 0, 0); */
    /* padding: 5px 10px; */
}

#banner-section button:hover {
    /* color:rgb(255, 255, 255); */
    /* border-color: white; */
    background-color: rgba(0, 0, 0, 0.266);
    border-radius: 5px;
}

/* brand section */
#brand .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
    margin-top: 25px;
    margin-bottom: 25px;

}

/* popularitems section */
#popularitems {
    width: 100%;
    display: flex;
    /* padding: 0 20px; */
}

#popularitems .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
}

#popularitems .col {
    width: 33%;
    /* height: 100%; */
    position: relative;
}

#popularitems .col:hover .details {
    cursor: pointer;
    background-color: #6500003b;
}

#popularitems .col img {
    width: 100%;
    height: 100%;
}

#popularitems .col .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 5px;

}

#popularitems .col .details h2 {
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.504);
    border-radius: 3px;
    padding: 0 3px;
}

#popularitems .col .details button {
    text-transform: uppercase;
    background: none;
    border: none;
    transform: translateY(30px);
    border-bottom: 1px solid #080808;
    padding: 3px;
    cursor: pointer;
}

#popularitems .col .details button:hover {
    color: white;
    border-color: white;
}

#popularitems .col:nth-child(1) .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#popularitems .col:nth-child(2) .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popularitems .col:nth-child(3) .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}








/* featured section */
.featured-section {
    /* margin: 35px; */
    margin: 25px 0;
}

.featured-section h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 25px;
}


.prod-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px 25px;
    text-align: center;
    gap: 10px;
    /* margin-top: 35px; */
    background-color: rgb(226, 225, 225,0.5);

}

.product {
    width: 250px;
    height: auto;
    max-height: max-content;
    cursor: pointer;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; 
    transition: 0.5s ease;

}

.product img {
    width: 100%;
    height: 100%;
    /* height: 60%; */
    /* margin-bottom: 5px; */
    border-radius: 5%;
}

.product .stars {
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    justify-content: center;
    /* margin-bottom: 5px; */
}


/* title or name of product */
.product h4 {
    font-weight: 550;
    /* margin-bottom: 5px; */
}

/* price */
.product h5 {
    font-weight: 500;
    /* margin-bottom: 5px; */
}

.product .buy-btn {
    background: #fb774b;
    padding: 5px 11px;
    border-radius: 25px;
    border: none;
    font-size: large;
    font-weight: bold;
    color: white;
    /* transform: translateY(20px); */
    /* opacity: 0; */
    transition: 0.3s ease;
    /* margin-top: 10px;
    margin-bottom: 5px; */
}

.product:hover {
    /* opacity: .8; */
    /* box-sizing: content-box;
    border: 1px solid green;
    */
    transform: scale(1.01);
}




/* by moneer bhai */

/* #product-section{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px;
}

.prod{
    width: 200px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 16px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
.prod img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
} */


/* footer section  */
footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: rgb(34, 34, 34);
    color: rgb(153, 153, 153);
}

footer .row {
    width: 80%;
    margin: 0 auto;
    /* padding-top: 20px;
     */
    display: flex;
    flex-wrap: wrap;
    /* gap:25px; */
}

footer .footer-one {
    width: 23%;
    padding: 25px;
}

footer .one p {
    padding-top: 12px;
    font-size: small;
    text-align: justify;
}

footer .two {
    margin-bottom: 12px;
    /* text-align: center; */

}

footer .two h5 {
    padding-bottom: 8px;
    color: rgb(216, 216, 216);
    font-size: 19px;
}

footer .two ul {
    text-transform: uppercase;
    list-style: none;
    font-size: small;
}

footer .two ul li {
    padding: 5px 0;
}

footer .two ul li a {
    color: rgb(153, 153, 153);
    text-decoration: none;
}

footer .two ul li a:hover {
    color: rgb(216, 216, 216)
}

footer .two div {
    margin-bottom: 10px;
}

footer .two div p {
    font-size: small;
}


footer .two .row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    /* justify-content: left; */
    flex-wrap: wrap;
    margin: 0;
}

footer .two .row img {
    width: 20%;
    margin: 5px;
    /* height: 100%; */
    /* margin-left:-8px; */
}

footer .two .insta-heading {
    /* margin-left: 20px; */
}


#copyright {
    width: 100%;
}

#copyright .row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    /* align-items: center; */
    /* justify-content: center; */

}

#copyright .row div {
    width: 33%;
    display: flex;
    column-gap: 15px;
    /* background-color: azure; */
}

#copyright .row:nth-child(1) div {
    align-items: center;
    justify-content: left;
    padding: 0 25px;
}

#copyright .row div p {
    text-wrap: nowrap;
}

#copyright .row div i {
    padding: 10px 12px;
    border-radius: 50%;
    font-size: large;
    color: black;
    background-color: white;
    /* margin: 0 15px; */
}

#copyright .row div i:hover {
    color: white;
    background-color: #fb774b;
    ;
}















/* Media Query Stars */

@media screen and (max-width:990px) {

    /* header section */
    #header {
        padding: 10px 20px;
    }

    #header .collapse-btn {
        display: initial;
    }

    #header .collapse-btn:hover {
        background-color: rgba(0, 0, 0, 0.752);
    }

    #header .navbar-ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -70%;
        background-color: aliceblue;
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
        padding-top: 80px;
        font-size: large;
        transition: 0.3s ease;

    }

    #header .nav-item {
        margin-bottom: 30px;
        width: 100%;
    }

    #header .nav-item .nav-link {
        width: 100%;
    }

    #cross {
        display: initial;
        position: absolute;
        top: 30px;
        font-size: large;
        margin-left: 25px;
    }

    #cross:hover,
    #cross :focus {
        color: #080808;
    }

    #header .active {
        right: 0px;
    }

    /* banner section */
    #banner-section {
        width: 97%;
        margin: 20px auto;
    }


    /* categories section */

    #popularitems .col {
        width: 100%;
        height: 500px;
    }

    /* footer section */

    footer .footer-one {
        width: 50%;
    }

    #copyright .row div {
        width: 50%;
    }

}












@media screen and (max-width:463px) {
    footer .footer-one {
        width: 100%;
    }

    /* banner sectioin */
    #banner-section {
        height: 70vh;
        background-position: left -80px top 0px;
        background-repeat: no-repeat;
        padding-left: 0;

    }

    #banner-section .banner-caption {
        font-size: medium;
        margin-top: 0;
        /* width: 35%; */
        padding: 15px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 0px;

    }

    #banner-section p {
        font-size: small;
        width:50%;
    }

    #banner-section button {
        font-size: 13px;
        padding: 4px;
        margin-top: 5px;

    }

    /* #brand .row{
        height: auto;
    } */

    #copyright .row div {
        width: 100%;
    }
}